@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* Reusable Glass Effect */
.glass-navbar {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* Optional Agency Glow */
.hero-glow-orange {
  position: absolute;
  width: 500px;
  height: 500px;
  background: rgba(251, 146, 60, 0.25);
  border-radius: 9999px;
  filter: blur(120px);
}

.hero-glow-pink {
  position: absolute;
  width: 500px;
  height: 500px;
  background: rgba(236, 72, 153, 0.25);
  border-radius: 9999px;
  filter: blur(120px);
}

.hero-glow-purple {
  position: absolute;
  width: 400px;
  height: 400px;
  background: rgba(168, 85, 247, 0.2);
  border-radius: 9999px;
  filter: blur(120px);
}

/* Navbar glow animation */
@keyframes pulseGlow {
  0%,100% {
    box-shadow: 0 0 15px rgba(249,115,22,.2);
  }
  50% {
    box-shadow: 0 0 30px rgba(249,115,22,.4);
  }
}